.results {
  display: grid;
  column-gap: 14px;
  row-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
.search form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 50%;
  letter-spacing: 0.07em;
  font-size: 1.10em;
}

input[type="text"]:focus {
  box-shadow: 5px 5px 2.5px #cccccc;
  outline: solid 1px var(--primary-color);
}

button {
  margin-left: 10px;
  padding-inline: 15px;
  padding-block: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  font-size: 1.12em;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }
}
@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }
  input[type="text"] {
    width: 100%;
  }
}
