@if (postList) {
  <article>
    <section class="listing-description">
      <h1 class="listing-heading">{{ postList.title }}</h1>
      <hr />
      <div class="container-author">
        <img
          class="photo-author"
          [src]="postList.author_photo"
          alt="avatar of {{ postList.author }}"
          crossorigin
        />
        <p class="listing-author">By {{ postList.author }}. {{ postList.date }}</p>
      </div>
      <div class="container-photo">
        <img
          class="listing-photo"
          [src]="postList.photo"
          alt="Featured photo of {{ postList.title }}"
          crossorigin
        />
      </div>
    </section>

    <section class="listing-content" [innerHTML]="postList.content">
    </section>

    <!-- <img
      class="listing-photo"
      [src]="postList?.photo"
      alt="Exterior photo of {{ postList?.name }}"
      crossorigin
    />
    <section class="listing-description">
      <h2 class="listing-heading">{{ postList?.name }}</h2>
      <p class="listing-location">{{ postList?.city }}, {{ postList?.state }}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{ postList?.availableUnits }}</li>
        <li>Does this location have wifi: {{ postList?.wifi }}</li>
        <li>Does this location have laundry: {{ postList?.laundry }}</li>
      </ul>
    </section>
    <section class="listing-apply">
      <h2 class="section-heading">Apply now to live here</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="firstName" />
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" formControlName="lastName" />
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <button type="submit" class="primary">Apply now</button>
      </form>
    </section> -->
  </article>
}
