@if(postLoading) {
  <div class="spinner">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
}

@if (postList) {
  <article>
    <section class="listing-description">
      <h1 class="listing-heading">{{ postList.title }}</h1>
      <hr />
      <div class="container-author">
        <img
          class="photo-author"
          [src]="postList.author_photo"
          alt="avatar of {{ postList.author }}"
          crossorigin
        />
        <p class="listing-author">By <strong>{{ postList.author }}</strong>. {{ postList.date }}</p>
      </div>
      <div class="container-photo">
        <img
          class="listing-photo"
          [src]="postList.photo"
          alt="Featured photo of {{ postList.title }}"
          crossorigin
        />
      </div>
    </section>

    <section class="listing-content">
      <div [innerHTML]="htmlContent"></div>
    </section>

    @if (postList.comment_status) {
      <section class="listing-post">
        <h2>Post a Comment</h2>
        <p class="lp-text-info">Your email address will not be published. Required fields are marked with *.</p>
        <form #ngForm class="lp-form" [formGroup]="commentForm"
          (submit)="submitComment($event, ngForm)">
          <div>
            <label for="lp-comment">Comment *</label>
            <textarea id="lp-comment"
              rows="4" cols="4"
              formControlName="comment"
              required
              ></textarea>
          </div>

          <div>
            <label for="lp-name">Nombre *</label>
            <input type="text" id="lp-name"
              formControlName="name"
              required
              />
          </div>

          <div>
            <label for="lp-correo">Correo *</label>
            <input type="email" id="lp-correo"
              formControlName="email"
              required
              />
          </div>

          <div>
            <label for="lp-web">Web</label>
            <input type="url" id="lp-web"
              formControlName="web"
              />
          </div>

          <div>
            @if(!CommentSending) {
              <button type="submit" class="primary">Post Comment</button>
            } @else {
              <div class="spinner">
                <div class="lds-roller">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            }
          </div>
        </form>
      </section>
    }

    <section class="listing-comments">
      <div class="listing-comments-count">
        <p>{{ postList.num_comments }} Comments</p>
      </div>
      <div class="listing-comment"
        *ngFor="let comment of postList.comments">

        <div class="listing-comment-intro">
          <p>{{ comment.author_name }} [{{ comment.date }}]</p>
          <img [src]="comment.author_avatar_url" alt="author comment avatar" />
        </div>

        <div class="listing-comment-content" [innerHTML]="comment.content">
        </div>

      </div>
    </section>
  </article>
}
