<article>
  <img
    class="listing-photo"
    [src]="postList?.photo"
    alt="Exterior photo of {{ postList?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ postList?.name }}</h2>
    <p class="listing-location">{{ postList?.city }}, {{ postList?.state }}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ postList?.availableUnits }}</li>
      <li>Does this location have wifi: {{ postList?.wifi }}</li>
      <li>Does this location have laundry: {{ postList?.laundry }}</li>
    </ul>
  </section>
</article>
